Repository elixir-europe/infectious-diseases-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @rabuono, @elixir-europe/idtk-editors

Update human-biomolecular-data.md
  data-sources/human-biomolecular-data.md
Owners: @elixir-europe/idtk-editors

Update human-biomolecular-data page - Beacons (#322)
  _data/tool_and_resource_list.yml
  data-sources/human-biomolecular-data.md
Owners: @bedroesb, @elixir-europe/idtk-editors

fix table listing Beacons
  data-sources/human-biomolecular-data.md
Owners: @elixir-europe/idtk-editors

filled in content for image_analysis.md
  showcase/image_analysis.md
Owners: @bedroesb

Update affiliations.yml
  _data/affiliations.yml
Owners: @bedroesb

filled in content for image_analysis.md (#333)
  showcase/image_analysis.md
Owners: @bedroesb

Update affiliations.yml (#332)
  _data/affiliations.yml
Owners: @bedroesb

Update affiliations.yml
  _data/affiliations.yml
Owners: @bedroesb

Update image_analysis.md
  showcase/image_analysis.md
Owners: @bedroesb

Add files via upload
  images/MBAT_scheme.png
Owners: @bedroesb

Include image
  showcase/image_analysis.md
Owners: @bedroesb

Solve errors from image description
  showcase/image_analysis.md
Owners: @bedroesb

Fixed tool
  showcase/image_analysis.md
Owners: @bedroesb

Update data-description/human-clinical-and-health-data.md
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

Update data-description/human-clinical-and-health-data.md
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

Update data-description/human-clinical-and-health-data.md
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

Update data-description/human-clinical-and-health-data.md
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

Remove unwanted front matter
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

Add MBAT to to tools table
  _data/tool_and_resource_list.yml
Owners: @bedroesb

Add MBAT tool to the text
  showcase/image_analysis.md
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

fix euro bioimaging
  _data/affiliations.yml
  images/infrastructures/eurobioimaging-logo.svg
Owners: @bedroesb

add to sidebar
  _data/sidebars/main.yml
Owners: @bedroesb

some changes
  showcase/image-analysis.md
Owners: @bedroesb

add news item
  _data/news.yml
Owners: @bedroesb

add sidebar and news item
  _data/news.yml
  _data/sidebars/main.yml
Owners: @bedroesb

Update google-doc-way.md (#325)
  contribute/google-doc-way.md
Owners: @rabuono

Update prototyping-research-questions.md
  showcase/prototyping-research-questions.md
Owners: @bedroesb

Update prototyping-research-questions.md (#334)
  showcase/prototyping-research-questions.md
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

Adding new tools
  _data/tool_and_resource_list.yml
Owners: @bedroesb

Adding tools and links to the text
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

fix error
  _data/tool_and_resource_list.yml
  data-description/human-clinical-and-health-data.md
Owners: @bedroesb, @elixir-europe/idtk-editors

gisaid typo
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

comma mistake
  data-description/human-clinical-and-health-data.md
Owners: @elixir-europe/idtk-editors

update date event
  _data/news.yml
Owners: @bedroesb

Adding text to Human clinical health data page (#327)
  _data/CONTRIBUTORS.yaml
  _data/news.yml
  _data/sidebars/main.yml
  _data/tool_and_resource_list.yml
  data-description/human-clinical-and-health-data.md
Owners: @bedroesb, @elixir-europe/idtk-editors

Update news.yml
  _data/news.yml
Owners: @bedroesb

move to latest version
  _config.yml
  _sass/_custom_classes.scss
Owners: @bedroesb

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/contribute        @rabuono

# Different Sections
/attributing-credit        @elixir-europe/idtk-editors
/data-analysis        @elixir-europe/idtk-editors
/data-communication        @elixir-europe/idtk-editors
/data-description        @elixir-europe/idtk-editors
/data-sources        @elixir-europe/idtk-editors
/ethical-legal-and-social-issues        @elixir-europe/idtk-editors
/provenance        @elixir-europe/idtk-editors
/quality-control        @elixir-europe/idtk-editors

#About
/about        @rabuono @elixir-europe/idtk-editors

#Theme
/assets        @bedroesb

# Sidebar and other
/_data      @bedroesb

# Tool and resources
/_data/tool*     @bedroesb
