Repository elixir-europe/infectious-diseases-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @rabuono, @elixir-europe/idtk-editors

Quality socioeconomics (#311)
  _data/news.yml
  _data/sidebars/main.yml
  _data/tool_and_resource_list.yml
  quality-control/socioeconomic-data.md
Owners: @bedroesb, @elixir-europe/idtk-editors

fixing some md things
  data-communication/index.md
  ethical-legal-and-social-issues/index.md
  images/institutions/513px-Albert-Ludwigs-Universität_Freiburg_2009_logo.svg.png
Owners: @elixir-europe/idtk-editors, @bedroesb

no image
  images/institutions/513px-Albert-Ludwigs-Universität_Freiburg_2009_logo.svg.png
Owners: @bedroesb

fix urls
  ethical-legal-and-social-issues/index.md
  quality-control/human-biomolecular-data.md
  showcase/covid19-galaxy.md
  showcase/estonian-prevalence-study.md
Owners: @elixir-europe/idtk-editors, @bedroesb

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

Update ethical-legal-and-social-issues/index.md
  ethical-legal-and-social-issues/index.md
Owners: @elixir-europe/idtk-editors

add intro
  data-analysis/pathogen-characterisation.md
Owners: @elixir-europe/idtk-editors

add general considerations
  data-analysis/pathogen-characterisation.md
Owners: @elixir-europe/idtk-editors

add contributors and news item
  _data/CONTRIBUTORS.yaml
  _data/news.yml
Owners: @bedroesb

typo news
  _data/news.yml
Owners: @bedroesb

Transferred the full gdoc text to the ELSI page (.md) (#317)
  _data/CONTRIBUTORS.yaml
  _data/news.yml
  data-communication/index.md
  ethical-legal-and-social-issues/index.md
  quality-control/human-biomolecular-data.md
  showcase/covid19-galaxy.md
  showcase/estonian-prevalence-study.md
Owners: @bedroesb, @elixir-europe/idtk-editors

fix mentions ELSI
  _config.yml
  _data/news.yml
  _data/sidebars/main.yml
  ethical-legal-and-social-issues/human-biomolecular-data.md
  ethical-legal-and-social-issues/index.md
Owners: @bedroesb, @elixir-europe/idtk-editors

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

h3 support title
  showcase/ena-data-submission-toolbox.md
Owners: @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

remove empty ones
  _data/tool_and_resource_list.yml
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

extra tools
  _data/tool_and_resource_list.yml
  data-analysis/human-biomolecular-data.md
Owners: @bedroesb, @elixir-europe/idtk-editors

Update human-biomolecular-data.md
  data-sources/human-biomolecular-data.md
Owners: @elixir-europe/idtk-editors

Update pathogen-characterisation.md according to Katharina Lauer comments
  quality-control/pathogen-characterisation.md
Owners: @elixir-europe/idtk-editors

Update pathogen-characterisation.md according to Katharina Lauer comments (#324)
  quality-control/pathogen-characterisation.md
Owners: @elixir-europe/idtk-editors

Update google-doc-way.md
  contribute/google-doc-way.md
Owners: @rabuono

Adding text to Human clinical health data description page
  _data/CONTRIBUTORS.yaml
  data-description/human-clinical-and-health-data.md
Owners: @bedroesb, @elixir-europe/idtk-editors

Create new page of image analysis showcase
  showcase/image_analysis.md
Owners: @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

Update human-biomolecular-data.md
  data-sources/human-biomolecular-data.md
Owners: @elixir-europe/idtk-editors

Update human-biomolecular-data.md
  data-sources/human-biomolecular-data.md
Owners: @elixir-europe/idtk-editors

Update human-biomolecular-data.md
  data-sources/human-biomolecular-data.md
Owners: @elixir-europe/idtk-editors

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @bedroesb

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/contribute        @rabuono

# Different Sections
/attributing-credit        @elixir-europe/idtk-editors
/data-analysis        @elixir-europe/idtk-editors
/data-communication        @elixir-europe/idtk-editors
/data-description        @elixir-europe/idtk-editors
/data-sources        @elixir-europe/idtk-editors
/ethical-legal-and-social-issues        @elixir-europe/idtk-editors
/provenance        @elixir-europe/idtk-editors
/quality-control        @elixir-europe/idtk-editors

#About
/about        @rabuono @elixir-europe/idtk-editors

#Theme
/assets        @bedroesb

# Sidebar and other
/_data      @bedroesb

# Tool and resources
/_data/tool*     @bedroesb
